@charset "UTF-8";
/* 除算math.divを使うのに必要な記述 */
@import url(https://use.typekit.net/lpz2crc.css);
@import url(https://use.typekit.net/lpz2crc.css);
@import url(https://use.typekit.net/lpz2crc.css);
html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.4rem, 1.3346938776rem + 0.2040816327vw, 1.6rem);
}
body a {
  color: #0f0f0f;
}
body a :hover {
  transition: 0.5s;
  -webkit-transition: 0.5s; /* Chrome、Safari用 */
  -moz-transition: 0.5s; /* Firefox用 */
  -o-transition: 0.5s; /* Opera用 */
  opacity: 0.5;
}
body img {
  max-width: 100%;
  height: auto;
}
body .mincho {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}
body section {
  margin-bottom: 40px;
}

/* 非表示状態 */
.inactive {
  display: none;
  opacity: 0;
}

/* 表示状態 */
.active {
  display: block;
  opacity: 1;
}

html {
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
  /*Google Chrome、Safariへの対応*/
}
html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/* 除算math.divを使うのに必要な記述 */
html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.4rem, 1.3346938776rem + 0.2040816327vw, 1.6rem);
}

body a {
  color: #0f0f0f;
}

body a :hover {
  transition: 0.5s;
  -webkit-transition: 0.5s; /* Chrome、Safari用 */
  -moz-transition: 0.5s; /* Firefox用 */
  -o-transition: 0.5s; /* Opera用 */
  opacity: 0.5;
}

body img {
  max-width: 100%;
  height: auto;
}

body .mincho {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}

body section {
  margin-bottom: 40px;
}

/* 非表示状態 */
.inactive {
  display: none;
  opacity: 0;
}

/* 表示状態 */
.active {
  display: block;
  opacity: 1;
}

html {
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
  /*Google Chrome、Safariへの対応*/
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

input, textarea, select {
  font-family: inherit;
  font-size: 16px;
}

input[type=button], input[type=text], input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th, td {
  border-collapse: collapse;
}

table th, table td {
  white-space: nowrap;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

#navigation {
  opacity: 0;
  visibility: hidden; /* 見えなくするが、スペースを維持 */
  transition: opacity 0.5s ease-in-out;
}

#navigation.visible {
  opacity: 1;
  visibility: visible; /* 表示状態 */
  transition: opacity 0.5s ease-in-out;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 8px;
  background-color: white;
  z-index: 99999;
  box-shadow: 0px 0px 15px -5px #777777;
}
@media screen and (max-width: 768px) {
  .nav {
    height: 60px;
  }
}
.nav__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav__wrap .logo img {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .nav__wrap .logo img {
    height: 30px;
  }
}
.nav__wrap .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .nav__wrap .menu {
    display: none;
  }
}

.drawer-hamburger {
  top: unset;
  width: 30px;
  display: none;
}
@media screen and (max-width: 768px) {
  .drawer-hamburger {
    display: block;
  }
}

.drawer-nav {
  background-color: #fafafa;
}
.drawer-nav ul .logo {
  padding-left: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
}
.drawer-nav ul li a {
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.drawer-nav ul li a::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-repeat: no-repeat;
}
.drawer-nav ul li a:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

/* ナビの背景を前面に出す */
.drawer--right.drawer-open .drawer-nav {
  width: 100%;
}

/* アイコンの位置 */
.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}

body {
  line-height: normal;
}

.header {
  padding-top: 16px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__wrap .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrap .item img {
  width: 40px;
  height: 40px;
}

/* 除算math.divを使うのに必要な記述 */
html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.4rem, 1.3346938776rem + 0.2040816327vw, 1.6rem);
}

body a {
  color: #0f0f0f;
}

body a :hover {
  transition: 0.5s;
  -webkit-transition: 0.5s; /* Chrome、Safari用 */
  -moz-transition: 0.5s; /* Firefox用 */
  -o-transition: 0.5s; /* Opera用 */
  opacity: 0.5;
}

body img {
  max-width: 100%;
  height: auto;
}

body .mincho {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}

body section {
  margin-bottom: 40px;
}

/* 非表示状態 */
.inactive {
  display: none;
  opacity: 0;
}

/* 表示状態 */
.active {
  display: block;
  opacity: 1;
}

html {
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
  /*Google Chrome、Safariへの対応*/
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

main {
  padding-bottom: 80px !important;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  font-weight: bold;
  margin: 40px auto 24px;
}

.container {
  padding: 0px 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}

.mainTitle {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.br {
  white-space: pre-line;
}

button {
  cursor: pointer;
}

.status-active i {
  color: #a22041 !important;
}

input, textarea {
  background-color: #f5f5f5;
  width: 100%;
  padding: 16px;
}

.mb-footer {
  margin-bottom: 80px;
}

.name-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
}
.name-box .name {
  font-weight: bold;
}

.lists {
  margin: auto;
  gap: 8px;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  .lists {
    grid-template-columns: repeat(2, 1fr);
  }
}
.lists__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  border-radius: 16px;
}
.lists__wrap .poster {
  width: 100%;
  height: auto;
}
.lists__wrap .poster a {
  width: 100%;
  height: 100%;
}
.lists__wrap .poster a img {
  aspect-ratio: 1/1.414;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.lists__wrap .poster .noimage {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1.414;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.lists__wrap .text-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
}
.lists__wrap .text-area .title {
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.lists__wrap .text-area .wrap .head {
  font-weight: bold;
}
.lists__wrap .text-area .wrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0px 8px;
  flex-wrap: wrap;
}
.lists__wrap .text-area .wrap ul li {
  color: #000b00;
}
.lists__wrap .text-area .wrap ul li a {
  color: #000b00;
}

.mypage .outer {
  margin-bottom: 40px;
}
.mypage .outer h2 {
  margin: 40px auto;
}
.mypage .watched .card {
  margin-bottom: 16px;
}
.mypage .watched .card .box {
  padding: 16px 0px;
  border-top: 1px #f5f5f5 solid;
  border-bottom: 1px #f5f5f5 solid;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .mypage .watched .card .box {
    grid-template-columns: 1fr;
  }
}
.mypage .watched .card .box .poster img {
  aspect-ratio: 1/1.414;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .mypage .watched .card .box .poster img {
    aspect-ratio: 16/9;
  }
}
.mypage .watched .card .box .log {
  position: relative;
  display: flex;
  flex-direction: column;
}
.mypage .watched .card .box .log .title {
  font-weight: bold;
}
.mypage .watched .card .box .log .meta {
  margin-bottom: 8px;
  display: flex;
  gap: 16px;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
}
.mypage .watched .card .box .log .comment {
  flex: 1;
  padding: 8px;
  background-color: white;
  height: 100%;
  width: 100%;
}
.mypage .watched .card .box .edit {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-form form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.search-form form .input-wrap {
  width: 100%;
  border-radius: 100px;
  background-color: #f5f5f5;
  position: relative;
}
.search-form form .input-wrap input {
  border-radius: 100px;
  padding: 8px;
  text-align: center;
}
.search-form form .input-wrap button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  height: 16px;
  width: 16px;
  margin: auto;
  color: #000b00;
}
.search-form form button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.stage-create {
  width: 100%;
  height: 100%;
}
.stage-create .box {
  height: 100%;
}
.stage-create .box a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 16px;
  width: 100%;
  padding: 16px;
  color: #000b00;
  font-size: clamp(4rem, 3.9346938776rem + 0.2040816327vw, 4.2rem);
  height: 100%;
  min-height: 200px;
}

.form-update {
  padding: 80px 0px;
}
.form-update h2 {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  margin: 40px auto;
  text-align: center;
  font-weight: bold;
}
.form-update input, .form-update textarea {
  background-color: #f5f5f5;
  width: 100%;
  padding: 16px;
}
.form-update form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.form-update form .field {
  flex: 1;
  width: 100%;
}
.form-update form .field.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.form-update form .field.create-account {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-update form .field.create-account p {
  text-align: center;
}
.form-update .poster-outer {
  display: flex;
  gap: 16px;
}
.form-update .poster-outer .icon {
  width: auto;
  flex: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-update .poster-outer .icon i {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  color: #000b00;
}

.filepond--root {
  height: 100%;
  max-width: 100%;
  aspect-ratio: 1/1.1414;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filepond--root .filepond--drop-label {
  padding: 16px;
  height: 100%;
}
.filepond--root .filepond--drop-label i {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  color: #000b00;
}

.stage-detail {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.stage-detail .wrap .contents {
  display: block;
  position: relative;
}
.stage-detail .wrap .contents__wrap {
  position: relative;
  margin-top: 16px;
}
.stage-detail .wrap .contents__wrap h1 {
  margin: auto;
}
.stage-detail .wrap .contents .field {
  margin-top: 16px;
}
.stage-detail .wrap .contents .field .title {
  font-weight: bold;
}
.stage-detail .wrap .contents .field ul {
  display: flex;
  gap: 0px 8px;
  flex-wrap: wrap;
}
.stage-detail .wrap .contents .field.ad {
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.stage-detail .wrap .contents .field.ad .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.stage-detail .wrap .contents .field.ad .item span {
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
}
.stage-detail .wrap .contents .field.ad .item img {
  width: 40px;
  height: auto;
}
.stage-detail .wrap .contents .field.ad .pia img {
  width: 56px;
}
.stage-detail .wrap .contents .stage-edit {
  position: absolute;
  bottom: -16px;
  right: 0;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: gray;
}
.stage-detail .wrap .contents .stage-edit a {
  color: gray;
}
.stage-detail .wrap .status {
  width: 100%;
  margin-top: 40px;
  background-color: #f5f5f5;
  padding: 16px;
}
.stage-detail .wrap .status .box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.stage-detail .wrap .status .box a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.stage-detail .wrap .status .box a i {
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
  color: gray;
}
.stage-detail .wrap .status .box a span {
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
}
.stage-detail .log {
  width: 100%;
  margin-bottom: 24px;
}
.stage-detail .log .area .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  justify-content: flex-start;
  padding: 8px;
  border-top: 1px #f5f5f5 solid;
  border-bottom: 1px #f5f5f5 solid;
}
.stage-detail .log .area .box .box-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;
}
.stage-detail .log .area .box .box-header .left .icon {
  width: auto;
  height: auto;
}
.stage-detail .log .area .box .box-header .left .icon img {
  width: 40px;
  height: auto;
}
.stage-detail .log .area .box .box-header .right .outer {
  display: flex;
  gap: 8px;
  align-items: center;
}
.stage-detail .log .area .box .box-header .right .outer .inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage-detail .log .area .box .box-header .right .outer .log-status .inner__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
}
.stage-detail .log .area .box .box-header .right .outer .log-status .inner__wrap i {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
}
@media screen and (max-width: 768px) {
  .stage-detail .log .area .box .box-header .right .outer .log-status .inner__wrap {
    flex-direction: row;
    gap: 8px;
  }
}
.stage-detail .log .area .box .wrap {
  width: 100%;
}
.stage-detail .log .area .box .like {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.stage-detail .log .area .box .like .like-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.stage-detail .log .area .box .like .like-btn.liked {
  color: #000b00;
}
.stage-detail .log .area .box .edit {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
  gap: 8px;
}
.stage-detail .shop {
  margin-top: 40px;
}
.stage-detail .shop h2 {
  background-color: #f7f7f7;
  font-weight: bold;
  padding: 16px;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  text-align: center;
  margin-bottom: 16px;
}
.stage-detail .shop h3 {
  text-align: center;
  margin-bottom: 16px;
  font-size: clamp(1.8rem, 1.7346938776rem + 0.2040816327vw, 2rem);
  font-weight: bold;
}
.stage-detail .shop .area {
  margin-bottom: 40px;
}
.stage-detail .shop .sponser li a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 16px;
}
.stage-detail .shop .sponser li a img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.stage-detail .shop .sponser li a .info .title {
  font-weight: bold;
}
.stage-detail .shop .partner ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.stage-detail .shop .partner ul li a img {
  aspect-ratio: 16/9;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stage-detail .shop .partner ul li a .title {
  font-weight: bold;
}
.stage-detail .shop .partner ul li a .addr {
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
}
.stage-detail .shop .shop-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .stage-detail .shop .shop-list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
.stage-detail .shop .shop-list ul img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 8px;
  width: 100%;
}
.stage-detail .shop .shop-list ul .info .title {
  font-weight: bold;
}
.stage-detail .shop .shop-list ul .info .addr {
  display: none;
}
.stage-detail .shop .powered-by {
  text-align: center;
}

.log-form .radio {
  display: flex;
  justify-content: space-between;
}
.log-form .radio__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
}
.log-form .radio__wrap input[type=radio] {
  display: none;
}
.log-form .radio__wrap label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  margin-right: 0.5rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}
.log-form .radio__wrap label:hover {
  background-color: #f7f7f7;
}
.log-form .radio__wrap input[type=radio]:checked + label {
  background-color: #333; /* お好みの色 */
  color: #fff;
  border-color: #333;
}
.log-form .star-rating i {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  margin-right: 4px;
}
.log-form .star-rating i.selected {
  color: #f7d106; /* 塗りつぶし: 黄色など */
}

.mypage .user {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mypage .user .edit {
  border: 1px #000b00 solid;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
}
.mypage .user .box .like {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mypage .navi {
  margin-bottom: 40px;
}
.mypage .navi__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mypage .navi__wrap li {
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.mypage .navi__wrap li.active {
  font-weight: bold;
}
.mypage h2 {
  position: relative;
  width: 100%;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  color: #000b00;
}
.mypage .caution {
  padding: 40px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allauth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  gap: 80px;
  padding: 80px 0px;
}
.allauth .form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.allauth button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-edit h2 {
  margin-bottom: 16px;
}
.profile-edit .filepond--root {
  height: 150px;
  max-width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-edit .filepond--root .filepond--drop-label {
  padding: 16px;
  height: 100%;
}
.profile-edit .filepond--root .filepond--drop-label i {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  color: #000b00;
}
.profile-edit .icon__wrap {
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 16px;
}
.profile-edit .icon__wrap .current-icon {
  position: relative;
}
.profile-edit .icon__wrap .current-icon img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.profile-edit .icon__wrap .current-icon button {
  margin-top: 8px;
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
  position: absolute;
  bottom: -16px;
  right: 0;
}

.login, .signup {
  margin-bottom: unset;
  padding: 0px;
}
.login .logo, .signup .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .logo img, .signup .logo img {
  height: 100px;
}
.login .remember label, .signup .remember label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}
.login .remember label input, .signup .remember label input {
  width: auto;
}

.thanks {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.thanks__wrap .title {
  font-weight: bold;
}

.stage {
  position: relative;
}
.stage .header-stage {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 16px 0px;
}
.stage .header-stage .logo a img {
  width: 40px;
}

.a2h-banner {
  margin-top: 40px;
}
.a2h-banner .area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a2h-banner .area .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.a2h-banner .area .box .text {
  font-weight: bold;
  text-align: center;
}
.a2h-banner .area .box button {
  margin-top: 16px;
}

.contact .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 40px;
}
.contact .form .field {
  width: 100%;
}
.contact .form .field label {
  margin-bottom: 4px;
  display: block;
}
.contact.thanks {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
}
.header__wrap img {
  width: 40px;
  height: auto;
}

.footer {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-top: 1px lightgray solid;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 16px;
  }
}
.footer__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  width: 100%;
  justify-content: space-around;
}
.footer__wrap i {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
}

.signup .login {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  width: 80px;
  height: 80px;
}
.icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 1px #000b00 solid;
  background-color: white;
}
.icon .division {
  position: relative;
}
.icon .division::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: 0;
  right: 0;
}
.icon .division--actor::before {
  background-image: url(../../img/icon_haiyu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon .division--staff::before {
  background-color: blue;
}
.icon .rank {
  position: relative;
}
.icon .rank::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  bottom: 0;
  right: 0;
}
.icon .rank--1::after {
  background-color: pink;
}

.top {
  margin-bottom: unset;
}
.top .loading {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999999;
  background-color: white;
  transition: opacity 0.5s ease; /* フェードのトランジション */
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .loading.fadeout {
  opacity: 0; /* トランジションで0.5秒かけて透明に */
  pointer-events: none; /* クリック無効(お好みで) */
}
.top .loading .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .loading .spinner img {
  width: 30%;
  height: auto;
  animation: spin 2.5s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.top .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: auto;
  height: auto;
}
.top .icon img {
  width: 30%;
  max-width: 100px;
  border: unset;
  border-radius: unset;
}
.top .kv {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .kv__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 40px;
}
.top .kv__wrap h1 {
  opacity: 0;
  font-weight: bold;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
}
.top .kv__wrap .logo {
  opacity: 0;
  transform: translateY(30px);
}
.top .kv__wrap .logo img {
  width: 300px;
  height: auto;
}
.top .what h2 {
  font-weight: bold;
  margin-bottom: 16px;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
}
.top .what h2 span {
  opacity: 0;
  transform: translateY(20px);
}
.top .what .imi {
  font-size: clamp(1.8rem, 1.7346938776rem + 0.2040816327vw, 2rem);
}
.top .what .imi span {
  opacity: 0;
  transform: translateY(20px);
}
.top .what .setsumei {
  background-color: #f5f5f5;
  width: 100%;
  padding: 16px;
  margin-top: 16px;
}
.top .what .setsumei__wrap {
  opacity: 0;
  transform: translateY(30px);
}
.top .what .tegaru {
  margin: 40px auto;
  opacity: 0;
  transform: translateY(30px);
}
.top .what .tegaru .text {
  font-weight: bold;
  text-align: center;
}
.top .about {
  margin-bottom: 40px;
}
.top .about__wrap .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(30px);
}
@media screen and (max-width: 768px) {
  .top .about__wrap .box {
    flex-direction: column;
  }
}
.top .about__wrap .box.rev {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .top .about__wrap .box.rev {
    flex-direction: column;
  }
}
.top .about__wrap .box img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1.1414/1;
}
.top .about__wrap .box .text .head {
  font-weight: bold;
  margin-bottom: 16px;
}
.top .tome {
  margin: 40px auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 40px 16px;
}
.top .tome .text {
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
}
.top .icon-gurun .icon {
  transform: translateY(30px) scale(0);
}
.top .comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: none;
}
@media screen and (max-width: 768px) {
  .top .comment {
    flex-direction: column;
  }
}
.top .comment .img {
  width: 50%;
}
.top .comment .img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1.1414;
}
.top .comment .text {
  width: 50%;
}
.top .gekidan {
  display: none;
}
.top .cv a {
  width: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000b00;
  color: white;
  padding: 8px;
  font-weight: bold;
}
.top .tome-logo {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .tome-logo img {
  width: 150px;
}/*# sourceMappingURL=custom.css.map */