<!-- core/templates/core/my_page.html -->
{% extends "base.html" %}
{% load static %}
{% load split_name_tags %}

{% block title %}
My Page
{% endblock %}

{% block content %}
<section class="mypage">

<div class="user">
  <div class="name-box">
    <div class="icon">
      {% if request.user.icon_url %}
      <img src="{{ request.user.icon_url }}" alt="User Icon">
    {% else %}
      <img src="{% static 'img/user-default.png' %}" alt="Default Icon">
    {% endif %}
    </div>
    <div class="name"> {{ request.user.nickname }}さん</div>
  </div>
  <div class="edit"><a href="{% url 'profile_edit' %}">ユーザー情報を編集</a></div>
</div>

<div class="navi">
  <ul class="navi__wrap">
    <li><a href="#want"><i class="fas fa-heart"></i><span>観たい</span></a></li>
    <li><a href="#watched"><i class="fas fa-eye"></i><span>観た</span></a></li>
    <li><a href="#cannot"><i class="fas fa-eye-slash"></i><span>観れない</span></a></li>
  </ul>
</div>

<!-- 観たい！ -->
 <div class="want" id="want">
    <h2><i class="fas fa-heart"></i></h2>
    
    {% if want_logs %}
    <div class="lists log">
      {% for log in want_logs %}
        {% include "core/parts/loglist_parts.html" with log=log %}
        <!-- 編集・削除などのリンクは snippet内でも / ここでもOK -->
      {% endfor %}
    </div>
    {% else %}
    <div class="caution"><a href="{% url 'stage_list' %}">作品を探しに行こう</a></div>
    {% endif %}

</div>

<!-- 観た！ -->
<div class="watched" id="watched">
  <h2><i class="fas fa-eye"></i></h2>
  
  {% if watched_logs %}
  <div class="lists log">
    {% for log in watched_logs %}
      {% include "core/parts/loglist_parts.html" with log=log %}
    {% endfor %}
  </div>
  {% else %}
  <div class="caution"><a href="{% url 'stage_list' %}">作品を探しに行こう</a></div>
  {% endif %}
  
</div>
<!-- 観れない！ -->

<div class="cannot" id="cannot">
  <h2><i class="fas fa-eye-slash"></i></h2>
  
  {% if cannot_logs %}
  <div class="lists log">
    {% for log in cannot_logs %}
      {% include "core/parts/loglist_parts.html" with log=log %}
    {% endfor %}
  </div>
  {% else %}
    <div class="caution"><a href="{% url 'stage_list' %}">作品を探しに行こう</a></div>
  {% endif %}
</div>

</section>

{% endblock %}
