<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}" />
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="ホシドリ">

    <!-- OGP共通 -->
    <meta property="og:title" content="ホシドリ - 舞台観劇リスト" />
    <meta property="og:description" content="舞台の観劇記録やリストが作れるサービスです。" />
    <meta property="og:image" content="https://hoshidori.com/static/img/ogp.png" />
    <meta property="og:url" content="https://hoshidori.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="ホシドリ" />

    <!-- Twitter Cards (任意) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="ホシドリ - 舞台観劇リスト" />
    <meta name="twitter:description" content="舞台の観劇記録やリストが作れるサービスです。" />
    <meta name="twitter:image" content="https://hoshidori.com/static/img/ogp.png" />
    
    <title>ホシドリ【舞台観劇リスト】｜{% block title %}{% endblock %}</title>
    {% load static %}
    
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <!-- Drawer CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/66f29bbc2b.js"></script>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link
        href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>

    {% if request.resolver_match.url_name != 'account_login' and request.resolver_match.url_name != 'account_signup' and request.resolver_match.url_name != 'top' %}
    <header class="header">
        <div class="header__wrap container">
            <div class="item home">
                <a href="{% url 'stage_list' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="ロゴ">
                </a>
            </div>
            <div class="item login">
                {% if request.user.is_authenticated %}
                    <!-- ログイン済みユーザー向け表示 -->
                    <a href="{% url 'account_logout' %}">ログアウト</a>
                {% else %}
                    <!-- 未ログインユーザー向け表示 -->
                    <a href="{% url 'account_login' %}">ログイン</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% endif %}


      

<main class="container">
    {% block content %}
    <!-- メインコンテンツ -->
    {% endblock %}
</main>

{% if request.resolver_match.url_name != 'account_login' and request.resolver_match.url_name != 'account_signup' and request.resolver_match.url_name != 'top' %}
<footer class="footer">
    <div class="footer__wrap container">
        <div class="float-button back"></div>
        <div class="float-button cog"></div>
        <div class="area">
            <div class="item home">
                <a href="{% url 'stage_list' %}">
                    <img src="{% static 'img/home.svg' %}" alt="home" class="home">
                </a>
            </div>
            <div class="item search">
                <a href="{% url 'stage_list' %}">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <div class="item mypage">
                <a href="{% url 'my_page' %}">
                  {% if request.user.is_authenticated %}
                    {% if request.user.icon_url %}
                      <!-- ユーザーがアイコンを設定している場合 -->
                      <img src="{{ request.user.icon_url }}" alt="User Icon" class="user-icon">
                    {% else %}
                      <!-- デフォルトアイコン -->
                      <img src="{% static 'img/user-default.png' %}" alt="Default Icon" class="user-icon">
                    {% endif %}
                  {% else %}
                    <!-- ログインしていない場合など -->
                    <img src="{% static 'img/user-default.png' %}" alt="Guest Icon" class="user-icon">
                  {% endif %}
                </a>
              </div>
        </div>
    </div>
</footer>
{% endif %}

<!-- jQuery (必要に応じて) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- bootstrap -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
<!-- iScroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
<!-- Slick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

<!-- Custom JS (global.js, custom.jsなど複数あれば順番に読み込む) -->
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

{% block extra_js %}{% endblock %}

</body>
</html>
